* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.dashboard_sidebar {
   position: fixed;
   top: 0;
   background-color: darkcyan;
   width: 200px;
   height: 100%;
}

.dashboard_sidebar ul li {
   list-style: none;
   text-align: center;
}

.dashboard_sidebar ul li a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   width: 100%;
   padding: 5px 10px;
   display: block;
}

.dashboard_sidebar ul li a:hover {
   background-color: gray;
}

.dashboard_main {
   margin-left: 200px;
   padding: 30px;
}
